#login {
    margin: auto; 
    margin-top: 100px;
    max-width: 400px; 
    padding: 20px; 
    border-radius: 10px; 
  }

#titulo{
  margin-top: 20px;
  text-align: center;
}

#titulo h1{
  font-size: xx-large;
}

#texto-bienvenida {
    text-align: center;
    margin-top: 50px;
    font-size: x-large;
}

