h1 {
  text-align: center;
}
ion-content {
  padding: 16px; // Padding alrededor del contenido
}


ion-item {
  margin-bottom: 8px; // Margen inferior entre ítems
}

ion-input {
  margin-bottom: 16px; // Margen inferior
  margin-top: 0px;
}

ion-button {
  border-radius: 8px; // Bordes redondeados
  margin-top: 10px; // Margen superior
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
}

ion-card-content {
    font-size: 18px; // Tamaño de fuente
    font-weight: bold; // Negrita
    background-color: rgb(230, 230, 132);
  }
  