
h1 {
    font-size: 30px;
    font-weight: bold;
    text-align:center;
    margin-top: 50px;
  }
  

ion-card-content {
    font-size: 18px; /* Tamaño de fuente */
    font-weight: bold; /* Negrita */
  }
  