ion-header {
  ion-toolbar {
    display: flex;
    justify-content: space-between; // Asegura que los elementos estén en los extremos opuestos
    align-items: center; 

    ion-title {
      font-size: 1.5em;
      font-weight: bold; 
      flex: 1;
    }

    ion-buttons {
      ion-button {
        font-size: 0.9em;
      }
    }
  }
}

.temperatura-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  font-size: 1.2em;

  ion-icon {
    margin-right: 5px;
    color: #1295f3; // Color del icono
    font-size: 1.5em;
  }

  .temperatura {
    font-weight: bold;
  }
}


h1 {
  font-size: 30px;
  font-weight: bold;
  text-align:center;
  margin-top: 50px;
}

h3 {
  text-align: center;
}

#usuario{
  font-size: medium;
  margin-top: 20px;
  margin-left: 10px;

}

#info-adicional h2 {
  font-size: 20px;
  text-align: center;
}

.registro {
  display: flex;
  justify-content: center;
  align-items: center;
}


ion-card {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 18px;
}

p {
  text-align: center;
}

